<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ganpengyu.ronganxin.dao.SysDictItemDao">
    <resultMap id="BaseResultMap" type="com.ganpengyu.ronganxin.model.SysDictItem">
        <!--@mbg.generated-->
        <!--@Table sys_dict_item-->
        <id column="id" property="id"/>
        <result column="dict_id" property="dictId"/>
        <result column="dict_code" property="dictCode"/>
        <result column="label" property="label"/>
        <result column="value" property="value"/>
        <result column="comment" property="comment"/>
        <result column="sort" property="sort"/>
        <result column="parent_id" property="parentId"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, dict_id, dict_code, `label`, `value`, `comment`, sort, parent_id, is_enabled,
        create_time, create_by, update_time, update_by
    </sql>
</mapper>